# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular programming languages in Data Science
* Data Science Libraries
* Data Science Tools
* Calculations using Python

In this notebook, we will summarize Data Science Tools and Ecosystem.

Porgramming Languages are the major tools for a Data Scientist. Some of the popular programming languages are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used data science libraries are:
1. Pandas (python)
2. Numpy (python)
3. Scikitlearn (python)
4. Matplotlib (python)
5. Vegas (Scala)
6. ggplot2 (R)

| Data Science Tools |
|--------------------|
|Apache Spark|
|Jupyter Notebook|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expression in Python:

In [14]:
(3*4)+5

17

The code below converts 200 minutes into hours

In [15]:
200/60

3.3333333333333335

## Author:
Sharada Poudel